@charset "utf-8";
@font-face {
    
    font-family : 'Hi Melody';
    font-style : normal;
    font-weight : 400;
    src : local('Hi Melody Regular'), local('HiMelody-Regular'), url(https://fonts.gstatic.com/s/himelody/v8/46ktlbP8Vnz0pJcqCTb0eGVA.ttf) format('truetype');
    
}

* {
margin : 0;
padding : 0;
font-family : Hi Melody;
}
a {
text-decoration : none;
}
li {
list-style : none;
}
html {
height : 100%;
}
body {
margin : 0 auto;
width : 100%;
}
.menu {
text-align : center;
height : 50px;
top : 0;
}
.outer-menu-item {
float : right;
position : relative;
}
.menu-title {
display : block;
height : 50px;
text-align : center;
padding : 5px 30px;
margin-top : 10px;
}
.menu-title > a {
color : rgb(209, 203, 203);
font-family : 나눔손글씨 할아버지의나눔, 'Baloo Tamma 2', cursive;
}
.menu-title > a:hover {
color : black;
}

.content {
position : absolute;
width : 100%;
height : 100%;
padding : 40px 100px;
box-sizing : border-box;
}

.content-left {
background-color : rgb(121, 74, 121);
width : 100%;
height : 100vh;
float : left;
color : rgb(219, 214, 214);
position : relative;
overflow : hidden;
}
.content-left .left {
position : relative;
display: block;
text-align : center;
background-color : rgba(255, 255, 255, 0.3);
z-index:1;
height : 65%;
width : 35%;
margin-top : 9%;
margin-left : 6%;
}
.content-left .left {
font-size : 20px;
padding : 70px 30px;
box-sizing : border-box;
}

.content-left .left h1 {
margin-top : 10px;
margin-bottom : 30px;
font-size : 50px;
}
.content-left .left h1 strong {
font-size : 60px;
}
.content-left .left p {
font-size : 25px;
}
.content-left .left .page{
    margin-top:30px;
    text-align: center;
}

.content-left .left .page a {

border : rgb(194, 89, 147) solid 3px;
color : #fff;
padding : 3px;
font-size : 25px;
}



.content-left .right {
position: absolute;
   top: 0px; right :0px;
  width : 45%; height: 100%;
}
.content-left .right > img {
margin-top : 15%; margin-left : -15px;
display: block;
width : 90%;
height : 70%;
box-sizing : border-box;
}

.content-right {
background-color : rgb(204, 132, 141);
width : 100%;
height : 100vh;
float : left;
color : rgb(219, 214, 214);
font-family : 나눔손글씨 할아버지의나눔, 'Baloo Tamma 2', cursive;
position : relative;
}
.content-right .left {
position : relative;
display : inline-block;
text-align : center;
background-color : rgba(255, 255, 255, 0.3);
height : 65%;
width : 35%;
margin-top : 9%;
margin-left : 6%;
}
.content-right .left {
font-size : 20px;
padding : 70px 30px;
box-sizing : border-box;
}
.content-right .left h1 {
margin-top : 10px;
margin-bottom : 30px;
font-size : 50px;
}
.content-right .left h1 strong {
font-size : 60px;
}
.content-right .left p {
font-size : 25px;
}
.content-right .left .page{
    margin-top:30px;
    text-align: center;
}
.content-right .left .page a {
border : rgb(241, 196, 221) solid 3px;
color : #fff;
padding : 3px;
font-size : 25px;
}
.content-right .right {
    position: absolute;
       top: 0px; right :0px;
      width : 45%; height: 100%;
    }
.content-right .right > img {
    margin-top : 15%; margin-left : -15px;
    display: block;
    width : 90%;
    height : 70%;
    box-sizing : border-box;
}
.content3 {
background-color : rgb(75, 122, 128);
width : 100%;
height : 100vh;
float : left;
color : rgb(219, 214, 214);
position : relative;
}
.content3 .left {
position : relative;
display : inline-block;
text-align : center;
background-color : rgba(255, 255, 255, 0.3);
height : 65%;
width : 35%;
margin-top : 9%;
margin-left : 6%;
}
.content3 .left {
font-size : 20px;
padding : 70px 30px;
box-sizing : border-box;
}
.content3 .left h1 {
margin-top : 10px;
margin-bottom : 30px;
font-size : 50px;
}
.content3 .left h1 strong {
font-size : 60px;
}
.content3 .left p {
font-size : 25px;
}

.content3 .left .page{
    margin-top:30px;
    text-align: center;
}
.content3 .left .page a {
border : rgb(89, 208, 238) solid 3px;
color : #fff;
padding : 3px;
font-size : 25px;
}
.content3 .right {
    position: absolute;
    top: 0px; right :0px;
    width : 45%; height: 100%;
    }
.content3 .right > img {
margin-top : 15%; margin-left : -90px;
display: block;
width : 120%;
height : 70%;
box-sizing : border-box;
}
.content4 {
background-color : rgb(75, 128, 84);
width : 100%;
height : 100vh;
float : left;
color : rgb(219, 214, 214);
position : relative;
}
.content4 .left {
position : relative;
display : inline-block;
text-align : center;
background-color : rgba(255, 255, 255, 0.3);
height : 65%;
width : 35%;
margin-top : 9%;
margin-left : 6%;
}
.content4 .left {
font-size : 20px;
padding : 70px 30px;
box-sizing : border-box;
}
.content4 .left h1 {
margin-top : 10px;
margin-bottom : 30px;
font-size : 50px;
}
.content4 .left h1 strong {
font-size : 60px;
}
.content4 .left p {
font-size : 25px;
}
.content4 .left .page{
    margin-top:30px;
    text-align: center;
}
.content4 .left .page a {

border : rgb(136, 238, 89) solid 3px;
color : #fff;
padding : 3px;
font-size : 25px;
}
.content4 .right {
    position: absolute;
    top: 0px; right :0px;
    width : 45%; height: 100%;
    }
.content4 .right > img {
margin-top : 15%; margin-left : -15px;
display: block;
width : 90%;
height : 70%;
box-sizing : border-box;
}
.content5 {
    background-color : rgb(187, 135, 76);
    width : 100%;
    height : 100vh;
    float : left;
    color : rgb(219, 214, 214);
    position : relative;
    }
.content5 .left {
    position : relative;
    display : inline-block;
    text-align : center;
    background-color : rgba(255, 255, 255, 0.3);
    height : 65%;
    width : 35%;
    margin-top : 9%;
    margin-left : 6%;
    font-size : 20px;
    padding : 70px 30px;
    box-sizing : border-box;
    }
.content5 .left h1 {
    margin-top : 10px;
    margin-bottom : 30px;
    font-size : 50px;
    }
.content5 .left h1 strong {
    font-size : 60px;
    }
.content5 .left p {
    font-size : 25px;
    }
.content5 .left .page{
        margin-top:30px;
        text-align: center;
    }
.content5 .left .page a {
    border : rgb(238, 168, 89) solid 3px;
    color : #fff;
    padding : 3px;
    font-size : 25px;
    }
.content5 .right {
        position: absolute;
        top: 0px; right :0px;
        width : 45%; height: 100%;
        }
.content5 .right > img {
    margin-top : 17%; margin-left : -15px;
    display: block;
    width : 90%;
    height : 70%;
    box-sizing : border-box;
    }

    .content6 {
        background-color : rgb(187, 170, 76);
        width : 100%;
        height : 100vh;
        float : left;
        color : rgb(219, 214, 214);
        position : relative;
        }
    .content6 .left {
        position : relative;
        display : inline-block;
        text-align : center;
        background-color : rgba(255, 255, 255, 0.3);
        height : 65%;
        width : 35%;
        margin-top : 9%;
        margin-left : 6%;
        font-size : 20px;
        padding : 70px 30px;
        box-sizing : border-box;
        }
    .content6 .left h1 {
        margin-top : 10px;
        margin-bottom : 30px;
        font-size : 50px;
        }
    .content6 .left h1 strong {
        font-size : 60px;
        }
    .content6 .left p {
        font-size : 25px;
        }
    .content6 .left .page{
        margin-top:30px;
        text-align: center;
        }
    .content6 .left .page a {
        border : rgb(223, 238, 89) solid 3px;
        color : #fff;
        padding : 3px;
        font-size : 25px;
       
        }
    .content6 .right {
            position: absolute;
            top: 0px; right :0px;
            width : 45%; height: 100%;
            }
    .content6 .right > img {
        margin-top : 15%; margin-left : -15px;
        display: block;
        width : 90%;
        height : 70%;
        box-sizing : border-box;
        }

@media (min-width : 768px) and (max-width : 1200px){

    .content-left { position : relative;}
    .content-left .left{position : absolute;  margin : auto; margin-left : 30px; top:0; bottom : 0; }
    .content-left .right>img{position : absolute;  margin : auto; margin-left : -10px; top:0; bottom : 0;}
    .content-left .left ,.content3 .left, .content4 .left, .content5 .left, .content6 .left{padding : 50px 30px}
    .content-left .left h1 strong , .content-left .left h1{font-size : 25px;}
    .content-left .left p , .content-left .left .page a{font-size:20px;}
    .content-right { position : relative;}
    .content-right .left{position : absolute;  margin : auto; margin-left : 30px; top:0; bottom : 0;padding : 40px 20px;height : 75%;
        width : 40%;  }
    .content-right .right>img{position : absolute;  margin : auto; margin-left : -10px; top:0; bottom : 0;}
    .content-right .left h1 strong , .content-right .left h1{font-size : 22px;}
    .content-right .left p , .content-right .left .page a{font-size:20px;}
    .content3 , .content4, .content5, .content6 { position : relative;}
    .content3 .left ,.content4 .left, .content5 .left ,.content6 .left{position : absolute;  margin : auto; margin-left : 30px; top:0; bottom : 0; }
    .content3 .right>img{position : absolute;  margin : auto; margin-left : -50px; top:0; bottom : 0; }
    .content3 .left h1 strong , .content3 .left h1{font-size : 25px;}
    .content3 .left p , .content3 .left .page a{font-size:20px;}
    .content4 .right>img{position : absolute;  margin : auto; margin-left : -10px; top:0; bottom : 0;}
    .content4 .left h1 strong , .content4 .left h1{font-size : 22px;}
    .content4 .left p , .content5 .left .page a{font-size:20px;}
    .content5 .right>img{position : absolute;  margin : auto; margin-left : -10px; top:0; bottom : 0;}
    .content5 .left h1 strong , .content5 .left h1{font-size : 22px;}
    .content5 .left p , .content5 .left .page a{font-size:20px;}
    .content6 .right>img{position : absolute;  margin : auto; margin-left : -10px; top:0; bottom : 0;}
    .content6 .left h1 strong , .content6 .left h1{font-size : 22px;}
    .content6 .left p , .content6 .left .page a{font-size:20px;}
 }
@media(max-width : 768px){
    .content-left, .content-right ,.content3,.content4 ,.content5 ,.content6{ display : block;height : 150vh; margin-bottom : 50px; overflow : hidden}
    .content-left .left ,.content-right .left, .content3 .left, .content4 .left, .content5 .left, .content6 .left{width : 100%; height : 45%; margin-left : 0;}
    .content-left .right , .content-right .right, .content3 .right, .content4 .right, .content5 .right, .content6 .right {position : relative;margin-top : -50px;   width : 100%;  }
    .content-left .right >img , .content-right .right >img, .content3 .right >img, .content4 .right >img, .content5 .right >img, .content6 .right >img{display : block; margin-left:0; width : 100%; }
    
}
@media ( max-width : 600px ) {
    .content{padding : 0;}
    .content-left .left h1 strong , .content-left .left h1,  .content-right .left h1 strong , .content-right .left h1
    ,.content3 .left h1 strong , .content3 .left h1, .content4 .left h1 strong , .content4 .left h1
    ,.content5 .left h1 strong , .content5 .left h1, .content6 .left h1 strong , .content6 .left h1 {font-size : 40px;}
    .content-left .left, .content-right .left ,.content3 .left, .content4 .left, .content5 .left, .content6 .left{padding : 40px 20px}



}

.content-left .right:before{content: ''; width: 1px; height:90%;
    background: #ccc; position: absolute; left: -60px; top : 5%}
.content-right .right:before{content: ''; width: 1px; height:90%;
        background: #ccc; position: absolute; left: -60px; top: 5%;}
.content2 .right:before{content: ''; width: 1px; height:90%;
            background: #ccc; position: absolute; left: -60px; top: 5%;}
.content3 .right:before{content: ''; width: 1px; height:90%;
                background: #ccc; position: absolute; left: -60px; top: 5%;}
.content4 .right:before{content: ''; width: 1px; height:90%;
    background: #ccc; position: absolute; left: -60px; top: 5%;}
.content5 .right:before{content: ''; width: 1px; height:90%;
        background: #ccc; position: absolute; left: -60px; top: 5%;}
.content6 .right:before{content: ''; width: 1px; height:90%;
            background: #ccc; position: absolute; left: -60px; top: 5%;}